html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%;
  min-width: 30%;
  padding-bottom: 50px;
  font-family: "Artifika", serif;
  font-size: 12px;
  color: #00188f; }

div {
  margin-bottom: 10px; }

.header {
  margin-left: -1em;
  margin-right: -1em; }

.nav {
  text-align: center; }

.navitem {
  display: inline-block;
  padding: 0.5em; }

.navitem i {
  padding-right: 0.5em;
  vertical-align: bottom;
  color: white; }

.navitem a {
  color: white;
  text-decoration: none; }

.navitem a:hover {
  border-bottom: 2.5px ridge #ffb900;
  text-shadow: 1px 1px 7px #141313; }

.page-header {
  margin: 20px 0 10px;
  border-bottom: 1px solid #eee; }
  .page-header h1 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    color: #00188f; }

.lang {
  width: 90%;
  margin: 0 auto;
  display: block;
  overflow: auto; }
  .lang h2 {
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    color: #00188f; }
  .lang div {
    display: flex;
    padding: 2%;
    width: 90%;
    margin: 0 auto;
    /*overflow: auto;*/ }
  .lang .btn-lang {
    flex: 1;
    font-family: "Artifika", serif;
    background-color: #c7e0f4;
    color: #00188f; }
    .lang .btn-lang:hover {
      color: white;
      background-color: #0078d7; }

.jum_en, .jum_ro {
  text-align: center;
  padding: 10px 0;
  background-color: ghostwhite;
  border: 1px solid #dfd1ef;
  border-radius: 0 20px; }
  .jum_en p, .jum_ro p {
    color: #5c005c; }

.intro {
  line-height: 15px; }

p a.ms-Button-small {
  height: 26px;
  min-width: 60px;
  padding: 4px 10px 6px;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Artifika", serif;
  background-color: #c7e0f4;
  color: #00188f; }
  p a.ms-Button-small:hover {
    color: white;
    background-color: #0078d7; }

.content div.ms-Dropdown {
  font-family: "Artifika", serif;
  color: #00188f; }
  .content div.ms-Dropdown :focus {
    color: #5c005c; }
  .content div.ms-Dropdown:hover {
    color: #00188f; }

span.ms-Dropdown-title {
  color: #00188f; }

.buttons section p {
  margin-bottom: 0.5em; }

button.ms-Button-small {
  color: #00188f;
  font-family: "Artifika", serif;
  font-size: 12px;
  background-color: ghostwhite;
  border: 1px solid  #c7e0f4; }
  button.ms-Button-small:hover {
    background-color: #deecf9; }
  button.ms-Button-small:focus {
    border: 1px solid #002050;
    background-color: #deecf9; }

.EN, .RO {
  display: none; }

.option, .options_ro {
  display: none; }

.ms-Grid {
  display: none; }

div.ms-MessageBanner.is-expanded {
  height: 40px; }

div.ms-MessageBanner {
  height: 40px;
  min-width: 275px;
  border-bottom-color: #2196f3; }
  div.ms-MessageBanner .ms-MessageBanner-text {
    max-width: 90%;
    min-width: 75%;
    margin: 0;
    padding: 10px 0;
    font-family: "Artifika", serif;
    color: #00188f;
    text-align: center; }
    div.ms-MessageBanner .ms-MessageBanner-text .ms-MessageBanner-clipper {
      margin: 0;
      max-width: 95%;
      line-height: 14px;
      color: #5c005c; }
  div.ms-MessageBanner .ms-MessageBanner-close {
    width: 16px;
    height: 16px;
    padding: 1px;
    line-height: 16px;
    font-size: 12px; }
    div.ms-MessageBanner .ms-MessageBanner-close .ms-Icon {
      font-size: 12px; }
  div.ms-MessageBanner .ms-MessageBanner-expand {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    margin-left: -10px;
    padding: 1px;
    line-height: 16px; }
    div.ms-MessageBanner .ms-MessageBanner-expand .ms-Icon {
      font-size: 12px; }

.footer {
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /*margin-top: 2em;*/
  color: white; }
  .footer ul {
    list-style-type: none;
    padding: 0.5em;
    text-align: center;
    margin-bottom: 0; }
  .footer li {
    font-size: 0.9em;
    display: inline-block;
    padding-right: 0.5em; }
