

$shadow_color: #141313;
$margin_bottom: 10px;
$font: 'Artifika', serif;
$button_bg_color: ghostwhite;
$font-size: 12px;
$main_color: #00188f;
$secondary_color: #5c005c;

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	min-width: 30%;
	margin-left: 2px;
	margin-right: 2px;
	padding-bottom: 50px;
	font-family: $font;
	font-size: $font-size;
	color: $main_color;

}
div {
	margin-bottom: 10px;
}

.header {
	margin-left: -1em;
	margin-right: -1em;
}

.nav {
	text-align: center;
}

.navitem {
	display: inline-block;
	padding: 0.5em;
}

.navitem {

	i {
		padding-right: 0.5em;
		vertical-align: bottom;
		color: white;

	}

	a {
		color: white;
		text-decoration: none;
	}

	a:hover {
		border-bottom: 2.5px ridge #ffb900;
		text-shadow: 1px 1px 7px $shadow_color;
	}
}

.page-header  {
	margin: 20px 0 10px;
	border-bottom: 1px solid #eee;

	h1 {
		font-size: 20px;
		text-align: center;
		padding-bottom: 10px;
		color: $main_color;
        text-shadow: 2px 2px 4px rgba(0, 0, 128, 0.5);
	}
}

.lang {
	width: 90%;
	margin: 0 auto;
	display: block;
	overflow: auto;

	h2 {
    	font-size: 18px;
    	text-align: center;
    	padding: 10px 0;
    	color: $main_color;
	}
	div {
		display: flex;
		padding: 2%;
		width: 90%;
		margin: 0 auto;
		/*overflow: auto;*/
	}
	.btn-lang {
		flex: 1;
		font-family: $font;
		background-color: #c7e0f4;
		color: $main_color;

		&:hover {
			color: white;
			background-color: #0078d7;
		}
	}
}



.jum_en, .jum_ro {
	text-align: center;
	padding: 10px 0;
    background-color: ghostwhite;
	margin-top: 10px;
    border: 1px solid #dfd1ef;
    border-radius: 10px 10px;
    p {
      color: $secondary_color;
    }
}

.intro {
	line-height: 15px;
}

p a.ms-Button-small {
	height: 26px;
	min-width: 60px;
	padding: 4px 10px 6px;
	border-radius: 8px;
	text-decoration: none;
	font-family: $font;
	background-color: #c7e0f4;
	color: $main_color;

	&:hover {
		color: white;
		background-color: #0078d7;
	}
}


.content div.ms-Dropdown {
	font-family: $font;
	color: $main_color;

	& :focus {
		color: #5c005c;
		} 
		
	&:hover {
		color: $main_color;
	}

}

span.ms-Dropdown-title {
	color: $main_color;
}


.buttons section p {
	margin-bottom: 0.5em;
}

button.ms-Button-small {
	color: $main_color;
	font-family: $font;
	font-size: $font-size;
	background-color: $button_bg_color;
	border: 1px solid  #c7e0f4;
	
	&:hover {
		background-color: #deecf9;
	}

	&:focus {
		border: 1px solid #002050;
		background-color: #deecf9;
	}
}
	
.EN, .RO {
  display: none; 
}

.option, .options_ro {
	display:none;
}

.ms-Grid {
	display: none;
}
div.ms-MessageBanner.is-expanded {
	height: 40px;
}
div.ms-MessageBanner {
	height: 40px;
    min-width: 275px;
	border-bottom-color: #2196f3;
	.ms-MessageBanner-text {
		max-width: 90%;
		min-width: 75%;
        margin: 0;
        padding: 10px 0;
        font-family: $font;
        color: $main_color;
		text-align: center;
		.ms-MessageBanner-clipper {
            margin: 0;
			max-width: 95%;
            line-height: 14px;
            color: $secondary_color;
		}
	}
	.ms-MessageBanner-close {
		width: 16px;
		height: 16px;
		padding: 1px;
		line-height: 16px;
		font-size: 12px;
		.ms-Icon {
			font-size: 12px;
		}
	}
	.ms-MessageBanner-expand {
		width: 16px;
		height: 16px;
		margin-right: 2px;
		margin-left: -10px;
		padding: 1px;
		line-height: 16px;

		.ms-Icon {
			font-size: 12px;
		}

	}

}

.footer {
	margin-left: -1em;
	margin-right: -1em;
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	/*margin-top: 2em;*/
	color: white;

	ul {
		list-style-type: none;
		padding: 0.5em;
		text-align: center;
		margin-bottom: 0;
	}

	li {
		font-size: 0.9em;
		display: inline-block;
		padding-right: 0.5em;
	}
}





